.broker {
	height: 100%;

	&-title {
		margin: 0;
		padding-top: 3rem;
		text-align: center;
	}

	&-text {
		padding-top: 3rem;
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}

	&-actions {
		padding-top: 1rem;

		&_range {
			padding-top: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			&_wrapper {
				display: flex;
				width: 80%;
				justify-content: space-around;

				& > input {
					flex: 0 0 80%;
				}

				& > span {
					text-align: right;
					flex: 0 0 20%;
				}
			}
		}

		&_fragments {
			padding-top: 2rem;
			text-align: center;
		}
	}

	&-notes {
		padding-top: 1rem;
		text-align: center;
	}
}

.value {
	position: relative;

	&:hover > .broker-tooltip {
		display: block;
	}
}

.broker-tooltip {
	font-size: 0.75rem;
	display: none;
	position: absolute;
	z-index: 1;
	top: 120%;
	left: -80%;
	width: 10rem;
	background-color: white;
	color: black;
	border-radius: 0.3rem;
	padding: 0.3rem;
}

.hide {
	display: none;
}
