.footer {
	background-color: darken($color: $first-color, $amount: 60%);
	height: 10rem;

	&-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		margin: 0 auto;
		width: 20%;
	}
}
