.sidebar {
	width: 160px;
	background-color: black;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;

	&-logo {
		font-size: 4rem;
		text-align: center;
	}

	&-links {
		display: flex;
		// flex-direction: column;
		height: 4rem;
		font-size: 0.5rem;
		justify-content: space-evenly;
	}

	@include atSmall {
		width: 100%;
		position: relative;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		height: 20rem;
		justify-content: space-around;
		align-items: center;
	}

	&-selected {
		border-bottom: 1px solid $second-color;
		width: 50%;
		padding-bottom: 1rem;
	}

	& a {
		text-align: center;
		text-decoration: none;
		// color: white;

		&:hover {
			color: lighten(grey, 10%);
			cursor: pointer;
		}
	}
}
