.sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 1rem;

	&-logo {
		font-size: 4rem;
		text-align: center;
	}

	@include atSmall {
		display: block;
		width: 100%;
		position: relative;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		height: 20rem;
		justify-content: space-around;
		align-items: center;
	}

	&-selected {
		border-bottom: 1px solid $second-color;
		width: 50%;
		padding-bottom: 1rem;
	}

	& a {
		text-align: center;
		text-decoration: none;
		// color: white;

		&:hover {
			color: lighten(grey, 10%);
			cursor: pointer;
		}
	}
}
