.sidebar {
	width: 15rem;
	background-color: black;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	font-size: 0.9rem;

	&-logo {
		font-size: 4rem;
		text-align: center;
	}

	&-links {
		display: flex;
		flex-direction: column;
		height: 4rem;
		font-size: 0.7rem;
		justify-content: space-evenly;

		width: 80%;
		margin: 0 auto;
		padding-left: 1rem;

		& > a {
			color: #9a9a9a;

			&:hover {
				color: white;
			}
		}
	}

	@include atSmall {
		width: 100%;
		position: relative;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		height: 10rem;
		justify-content: space-around;
		align-items: center;
	}

	&-portfolio {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #9a9a9a;

		&-title {
			font-size: 1.2rem;
		}

		&-table {
			border-spacing: 0;
			width: 50%;
			padding-top: 0;
		}
	}
}

.td {
	padding: 0.3rem;
}

.sidebar-anchor {
	height: 2.3rem;
	width: 80%;
	border-radius: 0.1rem;
	display: flex;
	align-items: center;
	color: #9a9a9a;
	margin: 0 auto;
	padding-left: 1rem;

	&:hover {
		color: lighten(white, 80%) !important;
	}
}

.sidebar-anchor_selected {
	height: 2.3rem;
	width: 80%;
	border-radius: 0.1rem;
	display: flex;
	align-items: center;
	background-color: #444444;
	color: white;
	margin: 0 auto;
	padding-left: 1rem;
}

.sidebar-index_selected {
	height: 2.3rem;
	width: 80%;
	border-radius: 0.1rem;
	display: flex;
	align-items: center;
	// background-color: #444444;
	color: white;
	margin: 0 auto;
	padding-left: 1rem;
}
