.stocks-earning {
	height: 100vh;

	& h3 {
		display: flex;
		justify-content: center;
	}
}

.sign {
	display: flex;
	width: 15rem;
	justify-content: space-around;
	margin-left: 75%;
	padding-top: 2rem;
}
