table {
	width: 100%;
	border-spacing: 0;
	table-layout: auto;
	padding-top: 3rem;
}
td {
	padding: 1rem;
	text-align: center;
}
th {
	text-align: center;
	padding: 0.5rem 1rem;
	position: sticky;
	color: #b3b3b3;
	font-size: 0.75rem;
	letter-spacing: 1.2px;
	// line-height: 16px;
	top: 0;
	border-bottom: 1px solid #b3b3b3;
}

.table {
	padding-top: 3rem;

	@include atSmall {
		overflow-x: auto;
	}

	&-header {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;

		@include atSmall {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
	}

	&-actions {
		width: 70%;
		padding: 2rem 0;
		text-align: center;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;

		@include atSmall {
			flex-direction: column;
			height: 20rem;

			& button {
				display: block;
			}
		}
	}
}

.tooltip {
	& span {
		visibility: hidden;
		width: 12rem;
		background-color: $second-color;
		color: $first-color;
		text-align: center;
		border-radius: 0.5rem;
		padding: 0.5rem 0;
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 50%;
		margin-left: -60px;
		cursor: pointer;
		opacity: 80%;
	}

	&:hover span {
		visibility: visible;
	}
}

.week {
	&-selector {
		@include atSmall {
			height: 2rem;
		}

		& label {
			padding-right: 1rem;
		}

		& select {
			width: 7rem;
		}
	}
}

.score {
	&-selector {
		& label {
			padding-right: 1rem;
		}
	}
}
