table {
	width: 100%;
	border-spacing: 0;
	table-layout: auto;
}
td {
	padding: 1rem;
	text-align: center;
}
th {
	text-align: center;
	padding: 1rem;
	position: sticky;
	top: 0;
	border-bottom: 1px solid $second-color;
	background-color: darken($color: $first-color, $amount: 60%);
}

.table {
	padding-top: 3rem;
	padding-left: 3rem;

	@include atSmall {
		overflow-x: auto;
	}

	&-header {
		display: flex;
		justify-content: space-around;
		width: 40%;
		margin: 0 auto;

		@include atSmall {
			padding: 3rem 0;
			width: 100%;
		}
	}

	&-actions {
		width: 70%;
		padding: 2rem 0;
		text-align: center;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;

		@include atSmall {
			flex-direction: column;
			height: 20rem;

			& button {
				display: block;
			}
		}
	}
}

.tooltip {
	& span {
		visibility: hidden;
		width: 12rem;
		background-color: $second-color;
		color: $first-color;
		text-align: center;
		border-radius: 0.5rem;
		padding: 0.5rem 0;
		position: absolute;
		z-index: 1;
		bottom: 80%;
		left: 50%;
		margin-left: -60px;
		cursor: pointer;
	}

	&:hover span {
		visibility: visible;
	}
}

.week {
	&-selector {
		@include atSmall {
			width: 3rem;
		}
		& label {
			padding-right: 1rem;

			@include atSmall {
				text-align: center;
				width: 100%;
			}
		}

		& select {
			width: 7rem;
		}
	}
}
