.button {
	&-primary {
		border-radius: 0.2rem;
		padding: 0.5rem 1rem;
	}
	&-primary:not([disabled]) {
		outline: none;
		border: none;
		color: $first-color;
		background-color: $second-color;

		&:hover {
			cursor: pointer;
		}
	}
}

.modal-button {
	background-color: gray;
	border: none;
	color: white;
	padding: 1rem;
	border-radius: 0.5rem;
}
