.flag {
	&-green {
		width: 1rem;
		height: 1rem;
		background: rgb(0, 168, 107);
		display: inline-block;
		padding: 0.4rem;
		border-radius: 0.3rem;
	}

	&-grey {
		width: 1rem;
		height: 1rem;
		background: rgb(145, 163, 176);
		display: inline-block;
		padding: 0.4rem;
		border-radius: 0.3rem;
	}

	&-red {
		width: 1rem;
		height: 1rem;
		background: rgb(222, 23, 56);
		display: inline-block;
		padding: 0.4rem;
		border-radius: 0.3rem;
	}
}
