.container {
	padding: 0 5rem;

	@include atSmall {
		padding: 0 1rem;
	}
}

body {
	background-color: $first-color;
	color: $second-color;
	letter-spacing: 1.6;
	font-family: "Roboto", sans-serif;
	margin: 0;
}

a {
	color: $second-color;
	text-decoration: none;
}

.app {
	display: flex;
	height: 100vh;

	@include atSmall {
		flex-direction: column;
	}
}

.section {
	flex: 1 1 auto;
	overflow: auto;
	// background-color: $second-color; /* For browsers that do not support gradients */

	@include atSmall {
		overflow: initial;
	}
}

input[type="text" i] {
	padding: 0;
}

.right {
	text-align: left;
}

.column-interactions {
	background-color: transparent;
	color: white;
	border: none;
	font-size: 1.5rem;
}
