.container {
	padding: 0;

	@include atSmall {
		padding: 0 1rem;
	}
}

body {
	background-color: $first-color;
	color: $second-color;
	// font-family: "Roboto", sans-serif;

	// font-family: "URWGeometric-Medium";
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
	font-size: 400;
	margin: 0;
}

a {
	color: $second-color;
	text-decoration: none;
}

.app {
	// display: flex;
	// height: 100vh;
	// overflow: hidden;

	@include atSmall {
		flex-direction: column;
	}
}

.section {
	flex: 1 1 auto;
	// overflow: auto;
	// background-color: $second-color; /* For browsers that do not support gradients */

	@include atSmall {
		overflow: initial;
	}
}

input[type="text" i] {
	padding: 0;
}

.column-interactions {
	background-color: transparent;
	color: grey;
	border: none;
	font-size: 1.5rem;
	display: none;

	&-header {
		display: none;
	}

	&:hover {
		cursor: pointer;
		color: white;
	}
}

.text-align {
	text-align: left;
}

tbody {
	& > tr {
		height: 64px;
		width: 100%;
		&:hover {
			background-color: #e6e6e626;

			& .column-interactions {
				display: inline-block;
			}
		}

		&:hover .column-interactions-header {
			display: block;
		}
	}
}

// td:first-child {
// 	border-top-left-radius: 0.5rem;
// 	border-bottom-left-radius: 0.5rem;
// 	// padding: 1rem 3rem;
// }
td:last-child {
	width: 50px;
	// border-bottom-right-radius: 0.5rem;
	// border-top-right-radius: 0.5rem;
}

.top {
	background-color: black;

	& > th {
		background: #181818;
		position: sticky;
		top: 0; /* Don't forget this, required for the stickiness */
		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
	}
}

.line {
	margin: auto;
	height: 3px;
	width: 100%;
	background-color: teal;
	border-radius: 6px;
	position: relative;

	&-left {
		position: absolute;
		font-size: 0.5rem;
		top: -0.6rem;
	}

	&-right {
		position: absolute;
		right: 0;
		font-size: 0.5rem;
		top: -0.6rem;
	}

	&-days {
		font-size: 0.5rem;
		bottom: -1rem;
		color: #b3b3b3;
	}
}

.arrow {
	border-color: white transparent;
	border-style: solid;
	position: absolute;
	height: 0px;
	width: 0px;

	&.up {
		border-width: 0px 6px 6px 6px;
		top: -6px;
	}

	&.down {
		border-width: 6px 6px 0px 6px;
		top: 3px;
	}

	&.dot {
		background: white;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		top: -3px;
	}
}

.earnings-header {
	display: flex;
	justify-content: space-between;
}

.normal-height {
	height: 100%;
}

.column-interactions-liked {
	background-color: transparent;
	color: white;
	border: none;
	font-size: 1.5rem;
	display: inline-block;

	&:hover {
		cursor: pointer;
	}
}

.column-lock {
	background-color: transparent;
	color: white;
	border: none;
	font-size: 1.5rem;
}

.no-margin {
	margin: 0;
}

.broker-image {
	border-radius: 0.3rem;
	width: 80%;
}
